.dropdown1 {
    display: inline-block;
    border: 1px solid #746262;
    border-radius: 4px;
    padding: 12px;
    width: 130px;
    font-family: "arial";
    user-select: none;
    cursor: pointer;

    &:hover {
        background: #ededed;
    }
}

.dropdown1-float-box {
    width: 130px;
    font-family: "arial";
    border: 1px solid #746262;
    padding: 12px;
    border-radius: 0 0 4px 4px;
}