.item-list {
    width: 400px;
    padding: 20px 15px;
    display: inline-block;
    vertical-align: top;

    .header {
        margin-bottom: 5px;
        display: flex;

        .type-header {
            flex: 1;
            display: flex;
            justify-content: center;

            .img-contain {
                width: 30px;
                height: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .list {
        border: 1px solid #bababa;
        padding: 15px 10px;
        border-radius: 7px;
        height: 500px;
        overflow: auto;
    }
}